/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  font-size: 16px;

  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
  color: #333;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type='checkbox'] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type='radio'] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
}

button:disabled,
[type='button']:disabled,
[type='reset']:disabled,
[type='submit']:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
  line-height: 1.3;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type='search'] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.out-inner {
  max-width: 1024px;
  padding: 24px;
  margin: 0 auto;
}

.img {
  width: auto;
  height: 100%;
  vertical-align: bottom;
}

.top__content h1 {
  font-size: 30px;
}

.card {
  max-width: 100%;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card .card-content {
  padding: 20px;
}

.form__list + .form__list {
  margin-top: 20px;
}

.field {
  position: relative;
}
.field .field__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  z-index: 2;
}
.field .field__input:not(:-moz-placeholder-shown) + .field__label {
  background: #fff;
  transform: translate(0, -50%);
  opacity: 1;
  z-index: 3;
}
.field .field__input:not(:-ms-input-placeholder) + .field__label {
  background: #fff;
  transform: translate(0, -50%);
  opacity: 1;
  z-index: 3;
}
.field .field__input:not(:placeholder-shown) + .field__label {
  background: #fff;
  transform: translate(0, -50%);
  opacity: 1;
  z-index: 3;
}
.field .field__label {
  position: absolute;
  top: 0;
  left: 8px;
  opacity: 0;
  transition: all 0.2s;
  z-index: 1;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown__content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px;
  z-index: 9999;
  max-width: 200px;
  max-height: 200px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dropdown:hover .dropdown__content {
  display: block;
}

.menu-list li {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #333;
}
.menu-list li:hover {
  background-color: grey;
}
.menu-list li:nth-of-type(n + 2) {
  border-top: none;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.button-group {
  display: flex;
  align-items: center;
  width: 100%;
}
.button-group > * {
  margin-left: 10px;
}
.button-group > *:first-child {
  margin-left: 0;
}
.button-group.right {
  justify-content: flex-end;
}

.button {
  padding: 10px 20px;
}
.button.contained {
  border-radius: 10px;
  background-color: #4285f4;
  color: #fff;
}
.button.outlined {
  border: 1px solid #000;
  border-radius: 10px;
}

.is--primary {
  color: #4285f4 !important;
}

.IS--secondary {
  color: #0f9d58 !important;
}

.bgc--primary {
  background-color: #4285f4 !important;
}

.bgc--secondary {
  background-color: #0f9d58 !important;
}

.bgc--danger {
  background-color: red !important;
}

.error-txt {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

.is--hidden {
  display: none;
}

.is-full {
  width: 100%;
}

.text-align__center {
  text-align: center;
}

@media screen and (max-width: 400px) {
  .is--sp {
    display: block !important;
  }
}
@media screen and (min-width: 401px) {
  .is--sp {
    display: none !important;
  }
}

.is--white--space {
  white-space: nowrap !important;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9000;
  width: 100%;
  height: 56px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px 10px;
  background-color: #fff;
}
.header .logo {
  height: 100%;
}
.header .list {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 100%;
}
@media screen and (max-width: 400px) {
  .header .list {
    display: none;
  }
}
.header .list > li {
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}
.header .list > li:first-of-type {
  margin-left: 0;
}
.header .dropdown__wrap {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

.header-spacer {
  padding-top: 56px;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.modal:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.modal:target {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}
.modal .overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.modal .modal-wrapper {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  height: 100%;
  max-height: 400px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal .modal-contents {
  overflow: auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.modal .modal-content {
  padding: 20px 30px;
}
.modal .modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
}

nav.pagination {
  display: inline-block;
  margin-top: 10px;
}
nav.pagination > .pagination {
  display: flex;
  align-items: center;
  border: 1px solid #888;
  border-radius: 5px;
  background-color: #eee;
}
nav.pagination .page--item {
  border-right: 1px solid #888;
  line-height: 1;
}
nav.pagination .page--item.txt--color {
  color: #4285f4;
}
nav.pagination .page--item:last-of-type {
  border-right: none;
}
nav.pagination .page--item.active {
  background-color: #4285f4;
  color: #fff;
  cursor: default;
}
nav.pagination .page--item.disabled .page--link {
  cursor: default;
}
nav.pagination .page--item .page--link {
  display: block;
  padding: 8px 12px;
}

.register-page .title {
  margin-bottom: 30px;
}
.register-page h1 {
  text-align: center;
  font-size: 30px;
}
.register-page .card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 400px) {
  .register-page .card {
    width: 380px;
  }
}

.login-page .title {
  margin-bottom: 30px;
}
.login-page h1 {
  text-align: center;
  font-size: 30px;
}
.login-page .card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 400px) {
  .login-page .card {
    width: 380px;
  }
}

.home-page .link__group {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  margin-top: 50px;
  margin-left: 50px;
}
.home-page .link__group > a {
  margin-top: 20px;
}
.home-page .link__group > a:first-child {
  margin-top: 0;
}
.home-page .modal__title {
  margin-bottom: 30px;
}
.home-page .modal__title > h1 {
  text-align: center;
  font-size: 30px;
}

.task__list--page .table__wrap {
  overflow: scroll;
}
.task__list--page table.table {
  table-layout: auto;
  width: 100%;
  border: 1px solid #000;
}
.task__list--page table.table th,
.task__list--page table.table td {
  padding: 5px;
  border: 1px solid #000;
  vertical-align: middle;
}
.task__list--page table.table th.user--name,
.task__list--page table.table td.user--name {
  min-width: 100px;
}
.task__list--page table.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 244px;
}
.task__list--page table.table tr {
  height: 40px;
}
.task__list--page table.table tr:hover {
  background-color: #ccc;
}
.task__list--page table.table a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: blue;
}
