$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;
@mixin max_mq($breakpoint) {
  @media #{map-get($breakpoints , $breakpoint)} {
    @content;
  }
}
$primary-color: #4285f4;
$secondary-color: #0f9d58;
$yello: #f4b400;
$red: #db4437;

@import 'reset.css';
@import 'base.scss';
@import 'header.scss';
@import 'auth/register.scss';
@import 'auth/login.scss';
