.home-page {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .modal__title {
    margin-bottom: 30px;
    > h1 {
      text-align: center;
      font-size: 30px;
    }
  }
}
